.main_div {
	margin: auto;
	max-width: 1024px;
	margin-top: 50px;
}

p {
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 16px;
}

ul {
	text-align: left;
}

pre {
	text-align: left;
}

h1, h2, h3 {
	text-align: left;
}

.sshot {
	margin: 10px;
}

.tip {
	border-radius: 4px;
	background-color: rgb(255, 190, 125);
	font-size: 13px;
	padding: 10px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.photo_caption 
{
	text-align: center;
	font-size: 16px;
}



pre, code, tt {
	font-size: 12px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code, tt {
	margin: 0 0px;
	padding: 0px 0px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.tutorial_nav {
	width: 180px;
	float : left;
	position: fixed;
}

.tutorial_content
{
	float :right;
	width: 830px;
}

.tutorial_link
{
	font-size: 1.2em;
	padding: 4px;
}

.current_tutorial_link
{
	font-weight: 700;
}